<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script src="https://kit.fontawesome.com/ce1c04a23c.js" crossorigin="anonymous"></script>
    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      * {
          // border: 1px solid red !important;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-[#4c806e] min-h-screen min-w-screen text-[#E7FBB4]" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
    {% include "_navbar.twig" %}
    {% if flash %}
      <div class="container mx-auto rounded-md mt-4 px-4 py-2 bg-red-500 text-[#fefefe]">
        <p>{{ flash }}</p>
      </div>
    {% endif %}
    {% block main %}{% endblock %}
  </body>
</html>

